* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html, body {
   height: 100%;
   width: 100%;
   font-family: "SecondaryFont", sans-serif;
   background: var(--bg);
   overflow-x: hidden;
}
img {
   max-width: 100%;
}
.slider{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 5;
}
.slide{
   width: 320px;
}